@keyframes Slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100;
  }
  45% {
    left: -100;
  }
  65% {
    left: -200;
  }
  85% {
    left: -200;
  }
  95% {
    left: -300;
  }
  100% {
    left: -400;
  }
  #Slide {
    overflow: hidden;
  }
  #Slide figure img {
    width: 20%;
    float: left;
  }
  #Slide figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s;
  }
}
